body {
  background-color: #000000;
  color: #3a00a5;
  font-family: Arial, sans-serif;
  font-size: large;
  font-weight: bold;
}

.nav-bar {
  background-color: #000000;  
  text-decoration: none;
}

.nav-bar .nav-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-bar .nav-list a {
  text-decoration: none;
}
